html {
  box-sizing: border-box;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #933;
  font-family: Georgia, serif;
}

header {
  background-color: #009664;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 3rem;
  color: #fff;
  background-color: #963;
  text-align: center;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
}

ul li a {
  font-size: 1.125rem;
  background-color: #fff;
  text-decoration: none;
  list-style-type: none;
  border: 10px solid #fff;
  border-radius: 4px;
  margin: .3rem;
}

.current {
  background-color: #000;
  font-size: 1.125rem;
  text-decoration: none;
  list-style-type: none;
  border: 10px solid #000;
  border-radius: 4px;
  margin: .3rem;
}

ul li a:hover {

}

main {
  background-color: #780;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.875rem;
  color: #fff;
  background-color: #945;
}

img {
  display: block;
  width: 100%;
}

main p {
  background-color: #954;
}

footer {
  text-align: center;
  font-size: .75rem;
  padding: 0 0 .4em;
  margin : 0 0 .2em;
  background-color: #748;
}
